{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Adhésion 2021-2022{% endblock %}



{% block body %}
    <div class="content">
        <div class="info">
            <h2>ASCCI <br><span>Adhésion 2021-2022</span></h2>
            <p>
                L'Association des Scouts Catholiques de Côte d'Ivoire, est une organisation à but non lucratif et apolitique qui œuvre dans le domaine de l'éducation des jeunes de 05 à 21 ans depuis 1937. De par sa méthode, elle assure un véritable lien social et garanti un environnement de prise en charge des problèmes de l'heure.
            </p>
            <a href="#" class="info-btn" onclick="recherche();">Ancien</a>
            <a href="#" class="info-btn nouveau">Nouveau</a>
        </div>
        <a href=""></a>
    </div>
{% endblock %}

{% block section %}id="accueil"{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function recherche() {
            Swal.fire({
                title: 'Entre ton matricule',
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: '<i class="fas fa-search"></i> Valider',
                inputPlaceholder: 'Entre ton matricule',
                showLoaderOnConfirm: true,
                cancelButtonText: 'Annuler',
                footer: '<a href="{{ absolute_url(path('recherche_identite')) }}">J\'ai oublié mon matricule</a>',
                preConfirm: (matricule) => {
                    //return fetch(`//api.github.com/users/${login}`)
                    return fetch(`{{ absolute_url(path('app_home')) }}ajax/${matricule}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(response.statusText)
                            }
                            let matricule = response.matricule;
                            //console.log(matricule)
                            return response.json()

                        })
                        .catch(error => {
                            Swal.showValidationMessage(
                                `Demande échouée: ${error}`
                            )
                        })
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    let donnee = result.value
                    if (!donnee){
                        Swal.fire({
                            title: 'Echec!',
                            text: 'Le matricule entré n\'existe pas. Prière reprendre',
                            icon: 'error',
                            footer: '<a href="{{ absolute_url(path('recherche_identite')) }}">J\'ai oublié mon matricule</a>'
                        })
                    }else{
                        console.log(donnee.matricule)
                        //dump();
                        //window.location = "http://adhesion.scoutascci.org/";
                        window.location = "{{ absolute_url(path('print_badge')) }}recherche/matricule/"+ donnee.slug;
                    }
                }
            })
        }
    </script>
{% endblock %}
